/* src/components/Tools/WhosThatPokemon/WhosThatPokemon.css */

.pokemon-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pokemon-image {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    margin: 10px;
}

.pokemon-name {
    text-transform: capitalize;
}
