/* src/components/Apps/Pokemon/Pokemon.css */
.pokemon-list-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-list-container h1 {
    margin-left: 10px;
}

.pokemon-table {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.pokemon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    height: 160px;
    width: 112px;
}

.pokemon-image {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    margin: 10px;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-name.correct {
    text-transform: capitalize;
    color: forestgreen;
}

.pokemon-name.incorrect {
    text-transform: capitalize;
    color: crimson;
}

.pokemon-id {
    font-weight: bold;
}

.generation-buttons {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.generation-buttons button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.generation-buttons button:hover {
    background-color: #d3460a;
}

.generation-buttons button.active {
    background-color: #d3460a;
}

.go-to-game {
    margin-left: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    background-color: #1d82ee;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.go-to-game:hover {
    background-color: #d3460a;
}

.whos-that-pokemon-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.whos-that-pokemon-container h3 {
    margin-left: 10px;
}

.image-section {
    margin-left: 15%;
}

.background-image {
    width: 72%; /* Adjust the size as needed */
    height: 72%; /* Adjust the size as needed */
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 9px;
}

.mystery-pokemon-image {
    display: none;
}

.mystery-pokemon-image.active {
    display: inline;
    width: 18%; /* Adjust the size as needed */
    height: 18%; /* Adjust the size as needed */
    z-index: 2;
    position: relative;
    left: -62%;
    transform: scale(1.5);
    filter: brightness(0.0001);

    @media (max-width: 480px) {
        width: 15%; /* Adjust the size as needed */
        height: 15%; /* Adjust the size as needed */
    }
    @media (max-width: 400px) {
        width: 12%; /* Adjust the size as needed */
        height: 12%; /* Adjust the size as needed */
    }
    @media (max-width: 320px) {
        width: 9%; /* Adjust the size as needed */
        height: 9%; /* Adjust the size as needed */
    }
    @media (max-width: 240px) {
        width: 6%; /* Adjust the size as needed */
        height: 6%; /* Adjust the size as needed */
    }
    @media (max-width: 180px) {
        width: 3%; /* Adjust the size as needed */
        height: 3%; /* Adjust the size as needed */
    }
}

.mystery-pokemon-image.shown {
    display: inline;
    width: 60%; /* Adjust the size as needed */
    height: 60%; /* Adjust the size as needed */
    z-index: 2;
    position: relative;
    filter: brightness(1);
}

.pagination {
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.pagination button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #031e04;
}

.pagination button.active {
    background-color: #879488;
}

.choices {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    gap: 10px;
}

.choices button {
    background-color: #1d82ee;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.choices button:hover {
    background-color: #d3460a;
}

.start-game {
    width: 18%; /* Adjust the size as needed */
    height: 18%; /* Adjust the size as needed */
    z-index: 3;
    position: relative;
    left: -62%;
    background-color: #4caf50;
    color: white;
    padding: 6px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.start-game:hover {
    background-color: #031e04;
}

.start-game.active {
    display: none;
}

.game-screen {
    position: relative;
    text-align: center;
    justify-content: center;
}

.game-screen.active .overlay,
.game-screen.active .popup {
    display: block; /* Overide display none to show overlay and popup*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* 0.8 gray overlay */
    display: none; /* Initially hidden */
    z-index: 99;
    border-radius: 9px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    z-index: 99;
    text-align: center;
}
